$tab-bg: #31363b;
$tab-bg-inactive: #232627;
$tab-bg-inactive-hover: #3e4146;

.header_header {
  background-color: $tab-bg-inactive;
}

:global(body.closed-tabs) .header_header {
  background-color: $tab-bg !important;
}

.header_windowHeaderWithBorder {
  border-bottom-style: none;
}

.tab_tab {
  background-color: $tab-bg-inactive;
}

.tab_tab:hover {
  transition: background-color 0.2s ease;
  background-color: $tab-bg-inactive-hover;
}

.tab_tab.tab_active {
  transition: background-color 0s;
  background-color: $tab-bg;
}
